@charset "UTF-8";

body,
pre {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, sans-serif;
}
header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #7CA4D7
}
header h1 {
  font-size: 100%;
  margin-top: 30px;
}
header h1 span {
  display: block;
}
main {
  margin-left: 300px;
  padding: 30px;
}
main h2 {
  font-size: 120%;
  text-shadow: 1px 1px 3px #999;
}
main h2 img {
  height: 1em;
}
pre {
  min-height: 100px;
  padding: 10px;
  background-color: #e3f2ff;
  box-shadow: 1px 1px 5px #eee;
  width: 500px;
}
hr {
  border-color: #7CA4D7;
  opacity: 1
}
.content {
  margin-top: 30px;
}
time {
  color: #999;
  font-size: 80%;
}
article {
  margin-top: 30px;
}
th, td {
	padding: 5px;
}
a {
	padding-right: 10px;
  text-decoration: none;
}
input[readonly] {
	background-color: LightGray;
	cursor: not-allowed;
}

/* aタグをbuttonタグの装飾と同じにする */
.button {
  color: black;
  background-color: #f0f0f0;
  box-sizing: border-box;
  border: 1.778px solid #000;
  padding: 1px 6px;
}

.button:hover {
  color: black;
  text-decoration: none;
}

/* buttonタグにカーソルを付ける */
button {
  cursor: pointer;
}
